
@{
    ViewBag.Title = "Compras";
    Layout = "~/Views/Shared/_Layout_Tienda.cshtml";
}
<style>
    .accordion-button {
        cursor: pointer !important;
    }
</style>
<div class="row mt-5 pt-4">
    <div class="col-12">
        <h4>Mis Compras</h4>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-body bg-secondary">

                <div class="accordion" id="accordion_articulos">
                    
                </div>
            </div>
        </div>

    </div>

</div>

@section scripts{
    <script>
        function zeroFill(number, width) {
            width -= number.toString().length;
            if (width > 0) {
                return new Array(width + (/\./.test(number) ? 2 : 1)).join('0') + number;
            }
            return number + ""; 
        }

        
         
    </script>
}